<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Welcome Administrator</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css" />
    <script src="/scripts/jquery1.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="/css/market_styles.css">
    <link rel='stylesheet' href="/css/admin_styles.css">
</head>
<body>

<section id="loginPage" data-role="page" >
    <header id="marketHeader" data-role="header" data-position="fixed">       
        <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
        <i class="material-icons md-24">home</i>
        </a>
        <div id="marketLogo">
        <img src="/images/KILLogo.jpg">
        </div>
    </header>
    
    <div data-role="content"><br><br><br><br><br><br>
    	<h3 style="width: 70%; margin:auto; text-align:center; color:white;">Welcome Administrator</h3> <br>
   		<a href="/admin/searchUser" th:href="@{/admin/searchUser}" class="ui-btn" style="width:65%; margin:auto;">Search User</a><br>
   		<a href="#" class="ui-btn" style="width:65%; margin:auto;">Delete User (Implemented in Search)</a><br>
   		<a href="#" class="ui-btn" style="width:65%; margin:auto;">Upgrade Requests (Not Implemented)</a><br>
   		<a href="#" class="ui-btn" style="width:65%; margin:auto;">Reset User (Not Implemented)</a><br>
   		<a href="#" class="ui-btn" style="width:65%; margin:auto;">Lock User (Not Implemented)</a><br>
   		<a href="#" class="ui-btn" style="width:65%; margin:auto;">Handle Complaints (Not Implemented)</a><br>
    </div>
</section> 
</body>
</html>