<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Welcome Administrator</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css" />
    <script src="/scripts/jquery1.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="/css/market_styles.css">
</head>
<body>

<section id="loginPage" data-role="page" >
    <header id="marketHeader" data-role="header" data-position="fixed">       
        <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
        <i class="material-icons md-24">home</i>
        </a>
        <div id="marketLogo">
        <img src="/images/KILLogo.jpg">
        </div>
    </header>
    <div data-role="content"><br><br><br><br><br><br>
       	<h3 style="width: 70%; margin:auto; text-align:center; color:white;">Search Accounts</h3><hr>
        <div id="searchBox" style="margin:auto;" class="ui-field-contain">
        	<form method="get" th:action="@{/admin/search}">
	            <input type="text" name="search" id="search" value="" placeholder="Search for Users"/> 
	            <input type="submit" value="Search Users"/>
	        </form>
        </div>
    	<br>
        <h3 id="featuredTitle" style="width:80%; margin:auto;">Results: </h3>
        <div id="productList">
		<th:block th:each="account : ${accountList}">
			<div class="product" style="width:80%; margin:auto;">
				<img src="/images/user.png">
				<h3 th:text="${account.userName}"></h3>
				<p th:text="'Date Created: ' + ${account.dateCreated}"></p>
				<p th:text="'Email: ' + ${account.email}"></p>
				<form method="get" th:action="@{/admin/delete/{id}(id=${account.userName})}">
					<input type="submit" value="Delete"/>
				</form>
			</div><br>
     	</th:block>
    </div>
</section>
</body>
</html>