<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Error</h1>
<h2>Access denied!!</h2>
<br>
<p>Go to:<a href="/" th:href="@{/}">Security Page</a></p>
</body>
</html>