html, body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 200px;
    background-color: #0C9A11;
    margin: 0;
}

#logo {
    width: 200px;
    height: 193px;
    border: solid 3px black;
    border-radius: 22px;
    float:left;
    margin-left: 850px;
}

#buttonComplaints, #buttonUpgrades, #buttonUserOptions {
    background-color: white;
    border: solid 2px black;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 50px;
    float:left;
    margin-left: 50px;
    margin-top: 70px;
    box-shadow: 7px 5px 15px #545454;
}

#menuPanel h3 {
    text-align: center;
}

header .material-icons.md-36 {
    font-size: 48px;
    color: white;
    float: right;
    padding-top: 70px;
    padding-right: 70px;
}

#menuPanel .material-icons.md-36 {
    font-size: 48px;
    color: white;
    border: solid 1px black;
    background-color: #0C9A11;
    height: 60px;
    width: 60px;
    margin-top: 50px;
}

#subMenuPanel a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
}


#search, #delete, #upgrade{
    float: left;
    margin-left: 70px;
}

#reset, #lock, #complaints{
    float: left;
    margin-left: 76px;
}

#subMenuPanel i{
    box-shadow: 7px 5px 15px gray;
}

body{
    background-color: #DCDBDB;
}

h1{
    text-align: center;
    font-size: 75px;
}


#menuPanel{
    border: solid 1px #707070;
    background-color: #B4DC7F;
    width: 50%;
    margin: 50px auto 50px auto;
    padding-bottom: 30px;
}

#subMenuPanel{
    border-radius: 21px;
    border: solid 1px black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #DCDBDB;
    height: 330px;
}

#searchPanel{
    border: solid 1px black;
    background-color: #B4DC7F;
    font-weight: bold;
    text-align: center;
    width: 30%;
    margin: 0px auto 50px auto;
    padding: 50px 0px 50px 0px;
}

#resultPanel{
    border: solid 1px black;
    background-color: #B4DC7F;
    font-weight: bold;
    width: 50%;
    margin: 0px auto 50px auto;
    padding: 10px 20px 20px 20px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

#resultPanel h3{
    border-bottom: solid 2px black;
}

button[type=submit]{
     background-color: #0C9A11;
     border: solid 1px black;
     border-radius: 4px;
     color: white;
     width: 150px;
     height: 30px;
     font-weight: bold;
     box-shadow: 7px 5px 15px #545454;
 }

input[type=text], #searchItems{
    border: solid 1px black;
    height: 30px;
    width: 200px;
}

#messagePanel {
    border: solid 1px black;
    background-color: #B4DC7F;
    font-weight: bold;
    width: 50%;
    margin: 0px auto 50px auto;
    padding: 10px 20px 20px 20px;
}

#messagePanel h3{
    border-bottom: solid 2px black;
}

#message {
    width:99%;
}

#selectPanel {
    border: solid 1px black;
    background-color: #B4DC7F;
    font-weight: bold;
    width: 50%;
    margin: 100px auto 50px auto;
    padding: 10px 20px 20px 20px;
}

#optionSearch, #optionReset, #optionLock, #optionDelete {
    margin: 30px auto 30px 130px;
    background-color: #0C9A11;
    border: solid 1px black;
    border-radius: 4px;
    color: white;
    width: 70%;
    height: 40px;
    font-weight: bold;
    box-shadow: 7px 5px 15px #545454;
    text-align: center;
}

#requestsPanel{
    border: solid 1px black;
    background-color: #B4DC7F;
    font-weight: bold;
    width: 50%;
    margin: 0px auto 50px auto;
    padding: 10px 20px 20px 20px;
}

.upgradeRequests{
     background-color: #0C9A11;
     color: white;
     padding: 18px;
     width: 100%;
     border: solid 1px black;
     text-align: left;
     outline: none;
     font-size: 15px;
 }

.complaintRequests{
    background-color: #0C9A11;
    color: white;
    padding: 18px;
    width: 100%;
    border: solid 1px black;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.activeRequest, .upgradeRequests:hover {
    background-color: #006600;
    color: white;
}

.contentRequest {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #006600;
    color: white;
}

.requestButton{
    background-color: white;
    border: solid 2px black;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    width: 100px;
    height: 50px;
    float:right;
    margin-right: 20px;
    margin-top: 40px;
    box-shadow: 7px 5px 15px black;
}

#mainAdminFooter {
    width: 100%;
    height: 60px;
    background-color: #E7EEDD;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#subAdminFooter{
    width: 100%;
    height: 60px;
    background-color: #E7EEDD;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    position:absolute;
    bottom:0;
}