.ui-content{
    background-color: #006600;
    padding: 0;
    position: absolute !important;
    top : 73px !important;
    right : 0;
    bottom : 0px !important;
    left : 0 !important;
}

#loginHeader{
    background-color: #0C9A11;
    border: solid 2px black;
    color: white;
    font-size: 26px;
}

#logo {
    width: 150px;
    height: 150px;
    border: solid 3px black;
    border-radius: 22px;
    margin: 20px auto 40px auto;
    display: block;
}

#marketLogo img{
    width: 100px;
    height: 100px;
    border: solid 3px black;
    border-radius: 12px;
    text-align: center;
    margin-top: 30px;
}

#marketLogo {
    text-align: center;
}

.usernameInput, .passwordInput {
    width: 80%;
    margin: 0 auto;
    border-radius: 24px;
    height: 40px;
}

#loginLink {
    width: 50%;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #0C9A11;
    border: solid 2px #CCCCCC;
    box-shadow: 10px 5px 6px black;
    color:white;
}

#signupLink{
    width: 50%;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #B4DC7F;
    border: solid 2px #CCCCCC;
    box-shadow: 10px 5px 6px black;
}

h2{
    text-align: center;
    color:white;
    border-bottom: solid 3px white;
    width:80%;
    margin: 30px auto 20px auto;
}

#signupButton{
    width: 50%;
    margin: 30px auto 0px auto;
    border-radius: 24px;
    background-color: #B4DC7F;
    border: solid 2px #CCCCCC;
    box-shadow: 10px 5px 6px black;
}

#signupPanel {
    background-color: #B4DC7F;
    border-radius: 20px;
    border: solid 2px #707070;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#signupPanel form input{
    margin-top: 20px;
    width:60%;
    height: 30px;
    border-radius: 20px;
    border: solid 1px black;
}

#signupPanel form{
    margin-left: 40px;
    font-weight: bold;
}

#continueLink{
    color: white;
}

#continueContainer{
    color: white;
    width:100%;
    text-align: center;
}

#marketHeader .material-icons.md-24{
    font-size: 38px;
    height: 40px;
    width:50px;
    border: solid 2px black;
    border-radius: 12px;
    margin:50px 10px 0px 10px;
    background-color: white;
    text-align: center;
    color: black;
}

#marketHeader{
    height:150px;
    width: 100%;
    background-color: #0C9A11;
    border: solid 2px black;
    padding-bottom: 20px;
}

#marketHeader a{
    background-color: #0C9A11;
    border: #0C9A11;
    box-shadow: none;
}

#searchBox {
    margin: 120px auto 0px auto;
    width: 80%;
}

#productList, #deliveryList{
    width:90%;
    margin: 20px auto 0px auto;
}
.product img {
    height: 90px;
    width: 90px;
    float: left;
    margin: 25px 0px 0px 30px;
}

.product, .deliveryItem {
    color: white;
    border-radius: 20px;
    border: solid 2px black;
    background-color: #0C9A11;
    margin-bottom: 20px;
}

.product h3, .product p{
    margin-left: 150px;
}

#featuredTitle {
    color:white;
    margin-left: 30px;
    border-bottom: solid 1px white;
    width: 90%;
}

#cartTitle, #shippingTitle, #billingTitle, #summaryTitle, #optionsTitle, #pastOrderTitle, #productTitle, #accountOptionsTitle,#deliveriesTitle {
    color:white;
    margin-top: 120px;
    margin-left: 30px;
    border-bottom: solid 1px white;
    width: 90%;
    text-align: center;
}

#cartList{
    width:90%;
    margin: 20px auto 0px auto;
}

#cartProduct img {
    height: 90px;
    width: 90px;
    float: left;
    margin: 15px 0px 0px 30px;
}

#cartProduct {
    border: solid 1px black;
    background-color: #B4DC7F;
    margin-bottom: 0px;
    height: 120px;
}

#cartProduct h3, #cartProduct p{
    margin-left: 150px;
}

#cartProduct1 img {
    height: 90px;
    width: 90px;
    float: left;
    margin: 15px 0px 0px 30px;
}

#cartProduct1 {
    border-radius: 20px 20px 0px 0px;
    border: solid 1px black;
    background-color: #B4DC7F;
    margin-bottom: 0px;
    height: 120px;
}

#cartProduct1 h3, #cartProduct1 p{
    margin-left: 150px;
}

#cartProduct3 img {
    height: 90px;
    width: 90px;
    float: left;
    margin: 15px 0px 0px 30px;
}

#cartProduct3 {
    border-radius: 0px 0px 20px 20px;
    border: solid 1px black;
    background-color: #B4DC7F;
    margin-bottom: 0px;
    height: 120px;
}

#cartProduct3 h3, #cartProduct3 p{
    margin-left: 150px;
}

#recurringLink, #shippingLink, #billingLink, #checkoutLink, #paypalLink, #confirmLink, #setActiveLink, #deliverItemLink {
    width: 50%;
    margin: 0px auto 0px auto;
    border-radius: 24px;
    background-color: #0C9A11;
    border: solid 2px #CCCCCC;
    color:white;
    box-shadow: 7px 5px 15px black;
}

#shippingLink, #billingLink, #paypalLink, #confirmLink, #setActiveLink, #deliverItemLink{
    margin-top: 20px;
}

#checkoutLink{
    margin-top: 30px;
}

hr{
    width:80%;
}

h5 {
    float:right;
    margin: 55px 30px 0px 0px;
}

.quantity {
    float:right;
    width: 50px;
    margin: 78px -53px 0px 0px;
}

#recurringProduct {
    border: solid 1px black;
    background-color: #B4DC7F;
    margin-bottom: 0px;
    height: 170px;
}


#recurringProduct1 {
    border-radius: 20px 20px 0px 0px;
    border: solid 1px black;
    background-color: #B4DC7F;
    margin-bottom: 0px;
    height: 170px;
}

#recurringProduct3 {
    border-radius: 0px 0px 20px 20px;
    border: solid 1px black;
    background-color: #B4DC7F;
    margin-bottom: 0px;
    height: 170px;
}

#recurringProduct h3, #recurringProduct1 h3, #recurringProduct3 h3{
    margin-left: 30px;
}

.ui-btn.ui-radio-off{
    display: inline;
    height: 10px !important;
    border: solid 1px black;
}

.ui-btn.ui-radio-on{
    display: inline;
    background-color: #0C9A11 !important;
    height: 10px !important;
    border: solid 1px black;
}

legend{
    font-size:14px;
    margin-left: 10px;
}

.otherText{
    margin-left: 20px;
}
.otherOption{
    width:70px;
    height: 14px;
    margin-top: 20px;
}

#shippingPanel, #billingPanel{
    border-radius: 20px;
    border: solid 1px black;
    width:90%;
    margin: 20px auto 0px auto;
    background-color: #B4DC7F;
}

#shippingPanel .ui-field-contain, #billingPanel .ui-field-contain{
    display:inline;
    width:80%;
    font-size: 14px;
}

#shippingPanel .ui-field-contain label, #billingPanel .ui-field-contain label{
    font-size: 14px;
}

#shippingForm, #billingForm{
    margin: 10px 0px 0px 90px;
}

#shippingPanel hr, #billingPanel hr{
    margin-top: 10px;
    width: 100%;
}

#pickupTitle {
    color:white;
    margin-top: 20px;
    margin-left: 30px;
    border-bottom: solid 1px white;
    width: 90%;
    text-align: center;
}

#localPanel, #billingPanel{
    border-radius: 20px;
    border: solid 1px black;
    width:90%;
    margin: 20px auto 0px auto;
    background-color: #B4DC7F;
}

#localPanel h4{
    margin-left: 20px;
}

#localPanel P{
    margin-left: 25px;
}

#billingForm #cardType-button, #productForm #productNameList-button, #userForm #cardType-button {
    font-weight:normal;
    font-size: 14px;
    text-align: left;
    height: 14px;
    background-color: white;
}

.summaryPanel, .deliveryPanel {
    border-radius: 20px;
    border: solid 1px black;
    width:90%;
    margin: 20px auto 0px auto;
    background-color: #B4DC7F;
}

.summaryPanel h4, .deliveryPanel h3{
    border-bottom: solid 1px black;
    width: 90%;
}
.summaryPanel h4, .summaryPanel p, .deliveryPanel h3, .deliveryPanel p{
    margin-left: 20px;
    font-weight: bold;
}

#changeLink1, #changeLink2, #changeLink3{
    margin: 0px auto 20px 20px;
    border-radius: 24px;
    background-color: #0C9A11;
    border: solid 2px black;
    color:white;
    box-shadow: 7px 5px 15px black;
    text-decoration: none;
    padding: 5px;
    width: 20%;
    font-weight: normal;
    font-size: 14px;
}

#accountOptionsLink, #productOptionsLink, #problemOrdersLink{
    margin: 0px auto 40px auto;
    border-radius: 32px;
    background-color: #0C9A11;
    border: solid 2px black;
    color:white;
    box-shadow: 7px 5px 15px black;
    text-decoration: none;
    padding: 15px;
    width: 80%;
    font-size: 20px;
}

#accountOptionsLink{
    margin-top: 50px;
}

#usernameOptionLink, #contactOptionLink, #billingOptionLink, #upgradeOptionLink{
    margin: 0px auto 40px auto;
    border-radius: 32px;
    background-color: #0C9A11;
    border: solid 2px black;
    color:white;
    box-shadow: 7px 5px 15px black;
    text-decoration: none;
    padding: 15px;
    width: 80%;
    font-size: 20px;
}

#usernameOptionLink{
    margin-top: 50px;
}

#addProductOptionLink, #updateProductOptionLink, #viewProductOptionLink, #viewProductDeliveryOptionLink, #deleteProductOptionLink{
    margin: 0px auto 40px auto;
    border-radius: 32px;
    background-color: #0C9A11;
    border: solid 2px black;
    color:white;
    box-shadow: 7px 5px 15px black;
    text-decoration: none;
    padding: 15px;
    width: 80%;
    font-size: 20px;
}

#addProductOptionLink{
    margin-top: 50px;
}

#pastOrdersList{
    width:90%;
    margin: 20px auto 0px auto;
}

#pastProduct2, #pastProduct3 {
    border: solid 1px black;
    background-color: #B4DC7F;
    height: 120px;
    padding-bottom: 30px;
}

#pastProduct2 h4, #pastProduct3 h4,#pastProduct2 h6,#pastProduct3 h6, #pastProduct2 p, #pastProduct3 p, .deliveryItem h3, .deliveryItem p{
    margin-left: 30px;
}

.deliveryItem p{
    font-size: 14px;
}

#pastProduct1 {
    border-radius: 20px 20px 0px 0px;
    border: solid 1px black;
    background-color: #B4DC7F;
    padding-bottom: 30px;
    height: 120px;
}

#pastProduct1 h4,#pastProduct1 h6, #pastProduct1 p{
    margin-left: 30px;
}


#pastProduct4 {
    border-radius: 0px 0px 20px 20px;
    border: solid 1px black;
    background-color: #B4DC7F;
    padding-bottom: 30px;
    height: 120px;
}

#pastProduct4 h4, #pastProduct4 h6, #pastProduct4 p{
    margin-left: 30px;
}

#problemLink1, #problemLink2, #problemLink3, #problemLink4 {
    margin: -40px 20px 0px 0px;
    border-radius: 24px;
    background-color: #0C9A11;
    border: solid 2px black;
    color:white;
    box-shadow: 7px 5px 15px black;
    text-decoration: none;
    padding: 5px;
    width: 30%;
    font-weight: normal;
    font-size: 14px;
    float:right;
}

#sendProblemLink, #cancelProblemLink, #addProductLink, #cancelAddProductLink, #saveAccountOptionLink, #cancelAccountOptionLink  {
    width: 20%;
    border-radius: 24px;
    background-color: #0C9A11;
    border: solid 2px #CCCCCC;
    color:white;
    box-shadow: 7px 5px 15px black;
}

#sendProblemLink, #addProductLink, #saveAccountOptionLink{
    float:left;
    margin: 30px 0px 0px 100px;
}

#cancelProblemLink, #cancelAddProductLink, #cancelAccountOptionLink{
    float:right;
    margin: 10px 100px 30px 0px;
}

#problemPanel, #productPanel, #userPanel {
    border-radius: 20px;
    border: solid 1px black;
    width:90%;
    margin: 20px auto 0px auto;
    background-color: #B4DC7F;
}

#problemPanel .ui-field-contain, #productPanel .ui-field-contain, #userPanel .ui-field-contain{
    display:inline;
    width:80%;
    font-size: 14px;
}

#problemPanel .ui-field-contain label, #productPanel .ui-field-contain label, #userPanel .ui-field-contain label{
    font-size: 14px;
}

#problemPanel hr, #productPanel hr, #userPanel hr{
    margin-top: 10px;
    width: 100%;
}

#problemForm #problemType-button {
    font-weight:normal;
    font-size: 14px;
    text-align: left;
    height: 14px;
    background-color: white;

}

#problemForm, #productForm, #userForm {
    margin: 10px -60px 0px 50px;
}

#productForm legend{
    margin: 0px 0px 0px 0px;
}

#productForm .ui-checkbox input{
    left: 20px;
    margin-top: -1px;
}

#userForm #divider{
    border:solid 1px black;
}

.deliveryItem .orderStatus{
    margin: -75px 40px 0px 0px;
    float:right;
}

.deliveryItem .activateOrder{
    margin: -48px 40px 0px 0px;
    font-size: 18px;
    float:right;
    color: red;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

.deliveryItem .finishOrder{
    margin: -48px 40px 0px 0px;
    font-size: 18px;
    float:right;
    color: #07FC48;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

#cartProduct i, #cartProduct1 i, #cartProduct3 i {
    float:right;
    margin: 5px 5px 0px 0px;
}
