<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Your Cart</title>
    <link rel="stylesheet" href="css/jquery.mobile.css" />
    <script src="scripts/jquery1.js" type="text/javascript"></script>
    <script src="scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="css/market_styles.css">
</head>
<body>
<section id="cartOverview" data-role="page">
        <header id="marketHeader" data-role="header" data-position="fixed">
             <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
                <i class="material-icons md-24">home</i>
            </a>
            <div id="marketLogo">
                <img src="/images/KILLogo.jpg">
            </div>
        </header>
        <div class="ui-content">
            <h3 id="cartTitle">Your Cart:</h3>
            <div id="cartList">
	            <th:block th:each="product : ${cartList}">
					<div class="product">
						<img src="/images/food.jpg">
						<h3 th:text="${product.productName}"></h3>
						<p th:text="'Sold By: ' + ${product.seller.companyName}"></p>
						<p th:text="'Category: ' + ${product.category}"></p>
	     			</div>
	     		</th:block>
            </div>
            <form method="get" th:action="@{/account/clearCart}">
				<input type="submit" value="Clear Cart"/>
			</form>
        </div>
    </section>
</body>
</html>