<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Marketplace</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css" />
    <script src="/scripts/jquery1.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="/css/market_styles.css">
</head>
<section id="loginPage" data-role="page" >
    <header id="marketHeader" data-role="header" data-position="fixed">       
        <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
        <i class="material-icons md-24">home</i>
        </a>
        <div id="marketLogo">
        <img src="/images/KILLogo.jpg">
        </div>
        <div th:if="${sellerOption}">
            <div class="ui-btn-right" data-role="controlgroup">
	            <a href="/account/checkMyOptions" th:href="@{/account/checkMyOptions}">
	            <i class="material-icons md-24">dehaze</i>
	            </a>
	        </div>
        </div>
        <div th:unless="${sellerOption}">
	        <div class="ui-btn-right" data-role="controlgroup">
	            <a href="/account/checkMyCart" th:href="@{/account/checkMyCart}">
	            <i class="material-icons md-24">shopping_cart</i>
	            </a>
	            <a href="/account/checkMyOptions" th:href="@{/account/checkMyOptions}">
	            <i class="material-icons md-24">dehaze</i>
	            </a>
	        </div>
        </div>
    </header>

    <h1>Welcome - Keep It Local</h1>
		
	<div th:if="${sellerOption}">
	 	<div class="ui-content"><br><br><br><br><br><br>
	        <h3 id="featuredTitle">Seller Portal:</h3>
     	</div>
	</div> 
	
	<div th:unless="${sellerOption}">
	    <div class="ui-content">
	        <div id="searchBox" class="ui-field-contain">
	            <form method="get" th:action="@{/searchProductsSecure}">
		            <input type="search" name="search" id="search" value="" placeholder="Search for Products"/> 
		            <input type="submit" value="Search Products"/>
		        </form>
	        </div>
	        <h3 id="featuredTitle">Featured Products: </h3>
	        <div id="productList">
			<th:block th:each="product : ${productList}">
				<div class="product">
					<img src="/images/food.jpg">
					<h3 th:text="${product.productName}"></h3>
					<p th:text="'Sold By: ' + ${product.seller.companyName}"></p>
					<p th:text="'Quantity Available: ' + ${product.productOptions.quantityOnHand}"></p>
					<form method="get" th:action="@{/account/addToCart/{id}(id=${product.productId})}">
						<input type="submit" value="Add To Cart"/>
					</form>
	     		</div>
	     	</th:block>
     	</div>
	</div>
    </div>
</section>
</body>
</html>