<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Contact Information</title>
    <link rel="stylesheet" href="css/jquery.mobile.css" />
    <script src="scripts/jquery1.js" type="text/javascript"></script>
    <script src="scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="css/market_styles.css">
</head>
<body>
    <section id="contactOptionPage" data-role="page">
        <header id="marketHeader" data-role="header" data-position="fixed">
            <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
                <i class="material-icons md-24">home</i>
            </a>
            <div id="marketLogo">
                <img src="/images/KILLogo.jpg">
            </div>
        </header>
        <div class="ui-content">
            <h3 id="accountOptionsTitle">Contact Options:</h3>
            <div id="userPanel">
                <div id="userForm">
                <form th:action="@{/account/saveContact}">
                    <fieldset class="ui-field-contain">  
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" placeholder="First Name" th:value="${account.firstName == null ? '' : account.firstName}"/><hr><br>
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name" th:value="${account.lastName == null ? '' : account.lastName}" /><hr><br>                     
			            <label for="email">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Email" th:value="${account.email == null ? '' : account.email}"/><hr><br>                              
                        <label for="street">Street:</label>
                        <input type="text" id="street" name="street" placeholder="Street" th:value="${account.address.street == null ? '' : account.address.street}"/><hr><br>
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" placeholder="City" th:value="${account.address.city == null ? '' : account.address.city}" /><hr><br>
                        <label for="postalcode">Postal Code:</label>
                        <input type="text" id="postalcode" name="postalCode" placeholder="Postal Code" th:value="${account.address.postalCode == null ? '' : account.address.postalCode}" /><hr><br>
                        <button type="submit" id="signupButton" class="ui-btn">Edit Contact Info</button>
                    </fieldset>
                </form>
                </div>
            </div>
            <a id="cancelAccountOptionLink" href="/account/getAccountOptions" th:href="@{/account/getAccountOptions}" class="ui-btn">Cancel</a><br>
        </div>
    </section>
</body>
</html>