<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-1">
    <title>Options</title>
    <link rel="stylesheet" href="css/jquery.mobile.css" />
    <script src="scripts/jquery1.js" type="text/javascript"></script>
    <script src="scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="css/market_styles.css">
</head>
<body>
    <section id="cartRecurring" data-role="page">
        <header id="marketHeader" data-role="header" data-position="fixed">
             <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
                <i class="material-icons md-24">home</i>
            </a>
            <div id="marketLogo">
                <img src="/images/KILLogo.jpg">
            </div>
        </header>
        <div class="ui-content">
            <h3 id="optionsTitle">Options:</h3>
            <div th:if="${buyerOption}">
            <a id="accountOptionsLink" href="/account/getAccountOptions" th:href="@{/account/getAccountOptions}" class="ui-btn">Account Options</a><br>
            </div>

            <div th:if="${sellerOption}">
			<a id="accountOptionsLink" style="margin:auto;" href="/account/seller/addProduct" th:href="@{/account/seller/addProduct}" class="ui-btn">Add Product</a><br>
			</div>
        </div>
    </section>
</body>
</html>