<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Marketplace</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css" />
    <script src="/scripts/jquery1.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="/css/market_styles.css">
</head>
<body>
<section id="loginPage" data-role="page" >
    <header id="marketHeader" data-role="header" data-position="fixed">       
        <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
        <i class="material-icons md-24">home</i>
        </a>
        <div id="marketLogo">
        <img src="/images/KILLogo.jpg">
        </div>
    </header>

    <h1>Welcome - Keep It Local</h1>
    <div class="ui-content">
        <div id="searchBox" class="ui-field-contain">
        	<form method="get" th:action="@{/searchProducts}">
	            <input type="search" name="search" id="search" value="" placeholder="Search for Products"/> 
	            <input type="submit" value="Search Produts"/>
	        </form>
        </div>

        <h3 id="featuredTitle">Featured Products: </h3>
        <div id="productList">
		<th:block th:each="product : ${productList}">
			<div class="product">
				<img src="images/food.jpg">
				<h3 th:text="${product.productName}"></h3>
				<p th:text="'Sold By: ' + ${product.seller.companyName}"></p>
				<p th:text="'Quantity Available: ' + ${product.productOptions.quantityOnHand}"></p>
     		</div>
     	</th:block>
	</div>
    </div>
</section>
</body>
</html>