<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Login/Sign-Up</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css" />
    <script src="/scripts/jquery1.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="/css/market_styles.css">
</head>
<body>
<section id="loginPage" data-role="page" >
    <header id="loginHeader" data-role="header">
        <h1>Keep It Local</h1>
    </header>

    <div class="ui-content">
        <img id="logo" src="/images/KILLogo.jpg">
		<form th:action="@{/login}"  method="post">
			<div th:if="${param.error}">
				<p style="width: 80%; margin:auto; text-align: center; color: white;">Invalid username or password!!!</p>
			</div>
			<div th:if="${param.logout}">
				<p style="width: 80%; margin:auto; text-align: center; color: white;">You have successfully logged out.</p>
			</div>
 	        <input data-wrapper-class="usernameInput" type="text" name="username" id="username" placeholder="Username"/><br>
 	        <input data-wrapper-class="passwordInput" type="password" name="password" id="password" placeholder="Password"/><br>
 	        <button type='submit' id="loginLink" class="ui-btn">Login</button><br>
 		</form>
		
		<a id="signupLink" href="/signUp" th:href="@{/signUp}" class="ui-btn">Sign-Up</a><br><br>
        <div id="continueContainer">
        <a id="continueLink" href="/goToScore" th:href="@{/goToStore}">Or Click to Continue Without an Account</a>
        </div>
    </div>
</section>

</body>
</html>