
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css" />
    <script src="/scripts/jquery1.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mobile.js" type="text/javascript"></script>
    <link rel='stylesheet' href="/css/market_styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<section id="loginPage" data-role="page" >
    <header id="loginHeader" data-role="header">
        <a href="/login" th:href="@{/login}" class="ui-btn-left">
        <i class="material-icons md-24">home</i>
        </a>
        <h1>Keep It Local</h1>
    </header>
    
    </div>
    <div class="ui-content">
        <h2>Sign-Up</h2>
        <div id="signupPanel"><br>
        <p style="width: 80%; margin:auto; text-align: center; color: white;" th:text="${notification}"></p>
        <form th:action="@{/signingUp}" method="Post">
	        <table style="width:50%; margin: auto;">
	        	<tr>
	        		<td style="width:20%">Username:</td>
	        		<td style="width:80%"><input style="width:100%" data-role="none" type="text" th:name="username"/></td>
	        	</tr>
	        	<tr>
	        		<td>Password:</td>
	        		<td><input style="width:100%" data-role="none" type="password" th:name="password"/></td>
	        	</tr>
	        	<tr>
	        		<td>Email:</td>
	        		<td><input style="width:100%" data-role="none" type="text" th:name="email"/></td>
	        	</tr>
	        	<tr>
	        		<td>FirstName:</td>
	        		<td><input style="width:100%" data-role="none" type="text" th:name="firstName"/></td>
	        	</tr>
	        	<tr>
	        		<td>LastName:</td>
	        		<td><input  style="width:100%" data-role="none" type="text" th:name="lastName"/></td>
	        	</tr>
	        	<tr>
	        		<td>City:</td>
	        		<td><input  style="width:100%" data-role="none" type="text" th:name="city"/></td>
	        	</tr>
	        	<tr>
	        		<td>Street:</td>
	        		<td><input  style="width:100%" data-role="none" type="text" th:name="street"/></td>
	        	</tr>
	        	<tr>
	        		<td>PostalCode:</td>
	        		<td><input  style="width:100%" data-role="none" type="text" th:name="postalCode"/></td>
	        	</tr>
	        	<tr>
	        		<td></td>
	        		<td><button type="submit" id="signupButton" class="ui-btn">Sign-Up</button></td>
	        	</tr>
	        </table>
        </form>

        </div>
    </div>
</section>
</body>
</html>