<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
	<meta charset="ISO-8859-1">
    <title>Seller Option</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css" />
    <script src="/scripts/jquery1.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mobile.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel='stylesheet' href="/css/market_styles.css">
</head>
<section id="SellerPage" data-role="page" >
    <header id="marketHeader" data-role="header" data-position="fixed">       
        <a href="/account/goToSecureStore" th:href="@{/account/goToSecureStore}" class="ui-btn-left">
        <i class="material-icons md-24">home</i>
        </a>
        <div id="marketLogo">
        <img src="/images/KILLogo.jpg">
        </div>
        <div class="ui-btn-right" data-role="controlgroup">
            <a href="/account/checkMyCart" th:href="@{/account/checkMyCart}">
            <i class="material-icons md-24">shopping_cart</i>
            </a>
            <a href="/account/checkMyOptions" th:href="@{/account/checkMyOptions}">
            <i class="material-icons md-24">dehaze</i>
            </a>
        </div>
    </header>

    <h1>Keep It Local - Add Product</h1>
    <div class="ui-content"><br><br><br><br><br>
        <h2>Add Product</h2>
        <div id="signupPanel"><br>
        <p style="width: 80%; margin:auto; text-align: center; color: white;" th:text="${notification}"></p>
        <form th:action="@{/account/seller/addProd}" method="Post">
	        <table style="width:50%; margin: auto;">
	        	<tr>
	        		<td style="width:20%">Product Name:</td>
	        		<td style="width:80%"><input style="width:100%" data-role="none" value = " " type="text" th:name="productName"/></td>
	        	</tr>
	        	<tr>
	        		<td>Category:</td>
	        		<td>
	        			<select th:name="category">
	                         <option th:each="category : ${categoryList}"
	                            th:value="${category}"
	                            th:utext="${category}"/>
		                 </select></td>
	        	</tr>
	        	<tr>
	        		<td>Quantity on Hand:</td>
	        		<td><input style="width:100%" data-role="none" type="number" value = "1" th:name="productQTY"/></td>
	        	</tr>
	        	<tr>
	        		<td>Description:</td>
	        		<td><input style="width:100%" data-role="none" type="text"  value=" " th:name="description"/></td>
	        	</tr>
	        	<tr>
	        		<td></td>
	        		<td><button type="submit" id="signupButton" class="ui-btn">Add Product</button></td>
	        	</tr>
	        </table>
        </form>
        </div>
    </div>
	</div>
    </div>
</section>
</body>
</html>